 body{
     margin:0;
     background-color:pink;
 }
 .container {
     display:flex;
     flex-direction:column;
    text-align:center;
 }
 
 .content{
    flex :1 ;
    flex-direction:row;
    text-align:center;
}
.video{
    flex-direction:row;
   
}
.box5{
    text-align : center;
    height:50%;
    padding : 1px 100px;
    left : 50%;
    align-content: center;
}
